// Import Vuetify styling
@import 'leaflet/dist/leaflet.css'
// @require '~vuetify/src/stylus/app.styl'

body
   font-family unquote("微軟正黑體!important")

ul
   -webkit-padding-start: 0
   margin-bottom: 0
   list-style-type: none

.nuxt-link-active
   color: #f77e9c