// Import Vuetify styling
@import 'leaflet/dist/leaflet.css'
// @require '~vuetify/src/stylus/app.styl'

body
   font-family unquote("微軟正黑體!important")

.mobile
   display: none

ul
   -webkit-padding-start: 0

@media screen and (max-width:991px)
   .mobile
      display: block

   .desktop
      display: none